<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Perspective Playground</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <div id="app">
        <h2>CSS Perspective Playground</h2>
        <main>
            <section class="setting">
                <div class="setting-container">
                    <label>pesrpective: {{perspective}}px;</label>
                    <input type="range" min="0" max="999" v-model="pesrpective">
                    <label>rotateX: {{rotateX}}deg;</label>
                    <input type="range" min="-180" max="180" v-model="rotateX">
                    <label>rotateY: {{rotateY}}deg;</label>
                    <input type="range" min="-180" max="180" v-model="rotateY">
                    <label>rotateZ: {{rotateZ}}deg;</label>
                    <input type="range" min="-180" max="180" v-model="rotateZ">
                    <button type="button">Reset</button>
                    <button type="button">Copy</button>
                </div>
            </section>
            <section class="output">
                <div class="box-container">
                    <div class="box"></div>
                </div>
            </section>
        </main>
    </div>
    <script src="app.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>
</html>